INPUT_PARAMETERS
suffix    SUFFIX
calculation    nscf
basis_type    pw
ecutwfc    80
gamma_only    0

nspin    1
scf_thr    1.0e-8
scf_nmax    200
smearing_method    gauss
smearing_sigma    0.002
mixing_type    broyden
mixing_beta    0.4
symmetry    0
init_chg    file
read_file_dir    READ_FILE_DIR

towannier90    1
nnkpfile    seed.nnkp

pseudo_dir    PSEUDO_DIR
