INPUT_PARAMETERS
suffix            autotest
calculation       scf
basis_type        lcao
ecutwfc           100
gamma_only        0
nspin             1
scf_thr           1.0e-8
scf_nmax          200
smearing_method   gauss
smearing_sigma    0.002
mixing_type       broyden
mixing_beta       0.4
ks_solver         genelpa
symmetry          0
efield_flag       1
dip_cor_flag      1
efield_dir        @EFIELD_DIR@
efield_amp        @EFIELD_AMP@
pseudo_dir        @PSEUDO_DIR@
orbital_dir       @ORBITAL_DIR@
